.chat-main
  .main-header
    .main-header__box
      .main-header__box__test
        = @group.name
      .main-header__box__member
        member :
        .main-header__box__member--name
          - @group.users.each do |user|
            = user.name
    .main-header__edit
    = link_to edit_group_path(@group[:id]), class:"main-header__edit--btn" do
      edit
  .main-contents
    = render @messages


  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
  -#     .form__mask
  -#       = f.label :image, class: 'form__mask__image' do
  -#         = icon('fas', 'image', class: 'icon')
  -#         = f.file_field :image, class: 'hidden'
  -#     = f.submit 'Send', class: 'form__submit'

  = form_for [@group, @message] do |f|
    .main-form
      .main-form__box
        = f.text_field :content, class: 'main-form__box__text', placeholder: 'type a message'
        = f.label :image, class: 'main-form__box__image' do
          = icon("fas", "image")
          = f.file_field :image,  class: 'main-form__box__image--file'
      .main-form__submit
        = f.submit 'send', class: 'main-form__submit--btn'
